.service{

    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size:xx-large;
    padding-right: 64%;
    font-family: 'Poppins', sans-serif;
}
.servicemain{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    margin-left: 5%;
    width: 81%;
}

.service-content{
    margin-top: 1%;
    gap: 150px;
    display:grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width:100%; 
    padding: 0 5%;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: -3%;
}

.text{
    display: flex;
    flex-direction: column;
    text-align:start;

}
@media screen and (max-width: 850px){
    .service{
        padding-right: 250%;
    }
    .service-content{
        width: 100%;
        margin-left: 0%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (min-width: 1500px) {
    .service{
        padding-right: 68%;
    }
    .service-content{
        width: 100%;
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

