.contact-main{
    background:linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255));
   height:350px;
   justify-content: center;
   margin: auto;

 
   
}

.contact{

    margin-top: 3%;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size:xx-large;
    padding-left: 16%;
    
   
}

.contact-input{
    
    display: flex;
    justify-content: start;
    margin-left: 16%;
    align-items: start;
    margin-top: -3%;
}

.name{
    border-radius: 10px;
    border-color: black;
    height: 40px;
    width: 400px;
    margin-right: 1%;
    margin-top: 2%;
    border: 1px solid black;
}

.email{
    border-radius: 10px;
    border-color: black;
    height: 40px;
    width: 400px;
    margin-right: 1%;
    margin-top: 2%;
    border: 1px solid black;
}

.message{
    border-radius: 10px;
    border-color: rgb(253, 251, 251);
    height: 40px;
    width: 400px;
    margin-right: 1%;
    margin-top: 2%;
    border: 1px solid black;
}

.send-button{
    background-color:#146BC2;

    width: 400px;
    height: 30px;
    margin-top: 2%;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
    
}

.c{
    margin-right: 30%;
    margin-top: 4%;
}
@media screen and (max-width: 850px){
    .contact-main{
        margin-left: -10%;
    }
    .box{
        width: 300px;
        
    }
    .contact{
        padding-left: 12%; 
    }
}
@media screen and (min-width: 1500px) {
    .contact{
        padding-left: 14%;
    }
    .contact-input{
        margin-left: 14%;
        
    }
  }