.whyus-main{
   
    width:92%;
    margin-top: -3%;
   
}


.whyus{
    margin-top: 0%;
    padding-left: 17%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size:xx-large;
    padding-top: 2%;
}

.whyus-content{
    margin-top: -4%;
   
    display: flex;
}

/* .whyus-image{
    margin-left: -40%;
    margin-right: auto;
    margin-top: 4%;
} */

.description{
    margin-right: 10%;
    margin-top: 4%;
    padding-left: 17%;
   
    font-size: larger;
    text-align:justify;
}