.workflow{

    margin-top: 3%;
    padding-left: 47%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size:xx-large;
   
}

.workflow-main{
    display: flex;
    flex-direction: column;
  
}
.workflow-content{
    display:grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-top: 2%;
    width:1000px;
    margin-left: 14%;


}