.workflow{

    margin-top: 5%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size:xx-large;
    padding-right: 50%;
    font-family: 'Poppins', sans-serif;
}

.workflow-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
}
.workflow-content{
    display:grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 350px;
    margin-top: 3%;
    width:850px;
    margin-left:-4%;
    gap: 60px;


}
@media screen and (max-width: 850px){
    .workflow-content{
        width: 350px; 
        margin-left: -3%;
        grid-template-columns: repeat(2, minmax(0, 1fr));;
    }
}
@media screen and (min-width: 1500px) {
    .workflow{
        padding-right: 80%;

    }
    .workflow-content{
        width: 1250px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }