.workflow{

    margin-top: 3%;

    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size:xx-large;
    padding-right: 50%;
   
}

.workflow-main{
    display: flex;
    flex-direction: column;
    width: 81%;
    justify-content: center;
    align-items: center;
  
}
.workflow-content{
    display:grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-top: 2%;
    width:1000px;
    margin-left: 14%;


}