.footer-main{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    height: 30px;
    background: linear-gradient(135deg,white,rgba(255, 235, 205, 0.667));
    margin-bottom: 0;
    height: 100px;

}


.footer{
    padding-top: 20px;
    padding-right: 20%;
}

.footer-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap:30px;
    padding-left:42%;
    font-weight:lighter;
    cursor: pointer;
    color: rgb(61, 61, 60);
}

@media screen and (max-width: 850px){
    .footer-main{
        flex-wrap: wrap;
        height: 300px;
    }
    .footer-menu{
        padding-left:0%; 
        flex-direction: column;
    }

}