/* .content {
   
    display: flex;
    flex-wrap: wrap;
    width:1000px;
    align-items: center;

    margin-top: -3%;
    
}  */

.c1{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
 
    
    width:1000px;
    background-image: url("https://s3-alpha-sig.figma.com/img/3d0f/a3f3/753b7e1de0995b72dff4c783b651a023?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SU0nn-lKY8fmV4DDyQRVaj1yIraO~FM5r1kUE8zqGhVe820Ag-D~0ot76GMYnh1jLk5GJ-6yvIwh4b5u9AYDdLBpeg9reWIS504Ctxa29LnG2YZ6lWisld-I0a695hWyUJGuPUFXNYHJvjQZEoiC4USgDCr48dKSKBj-~1IqsFVuGW6uxOf5vE5Nt~icuoK~k2DohJqxpoB3BIjyvyedTQ6DIA17skWdvqvgL12uWp8hh3JZ5huOzoRdl9-v~Qi8kLmMmv49iUiG5f89ypi9hq~XITt-24Z6zd-JcXicyK1c72VTySDwj6gTsEgWOxmxNCUyl-JXhIQqzkDatUWb-Q__");
}







.p1{
  
    color: rgb(0, 0, 0);
    font-size:xx-large;
    font-weight: bolder;
    height: 5%;
    
}
.p2{
    color: rgba(169, 169, 169, 0.821);
    
    
}

.button{
    margin-left: 10%;
    border-radius: 8px;
    padding: 1%;
    cursor: pointer;
    
    margin-bottom: 10%;
    background-color: blue;
    border: none;
    color: aliceblue;
    font-weight:bold;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    
 
}